/* Header kodet av Ine Målbakken*/
/*DIN Next LT Pro Light*/
@import url('https://www.fontify.me/wf/5791fea5cf3ff4352ab8e7f3cccc8e23');   

/*DIN Neuzeit Grotesk Bold Cond*/
@import url('https://www.fontify.me/wf/a43ffc0f9675eb7bb6611c0db69d7ae9');

/*Lulo Clean One Bold*/
@import url('https://www.fontify.me/wf/42216a06e8977da4ccec1ff4702d0922');

/*Lucida Console*/
@import url('https://www.fontify.me/wf/d5b9008d3538aedbecc7c3a8e8b5a3a6');

@import url('https://www.fontify.me/wf/1167d5dd1156ddd43debbe88efce6bb5');
/*swanky and moo moo*/

/*Summer Fling Medium Overskrift*/
@import url('https://www.fontify.me/wf/bfe9b63f8c57f2ce8a4fe3b9451178d8');

/*Rabelo Heavy Undertekst*/
@import url('https://www.fontify.me/wf/51f786f891819f320f153d750cf0fc7f');

/*Unique Light Brødtekst*/
@import url('https://www.fontify.me/wf/a1924907d51c265f1f5478b7f744203b');

html, body{
        background-color: white;           
        margin: 0;
        }
        
        
    #headerContainer *{
        position: absolute;
        margin: 0;
        }
        
        
    #headerContainer{
        position: relative;
        margin: auto;
        width: 100%;
        background-color: white;
        }
    
    #topBorder{
        height: 40px;
        width: 100%;
        top: 27px;
        background-image: url(../Bilder/wHeaderLiten.png);
    }

    #CampusVulkan{
        font-family: font84115;
        top: 10px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

#alleMenyBarn{
    top 70px;
    width: 300px;
    height: 45px;
    right: 70px;
}
#alleMenyBarn*{
    position: absolute;
    margin: auto;
}

ul.meny {
    padding-top: 70px;
    width: 50%;
    list-style: none;
    background-color: white;
    text-align:center;
    font-family: font130013; 
}
.meny li { 
    display: inline-block;
    width: 20%;
    margin: 0;
    padding: 0;
}
.meny a {
    text-align:center;
    padding: 12px 5px 12px 5px;
    margin:0; 
    /*border-right: 1px solid black; */
    display:block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

li a.active {
    background-color: black;
    color: white;
} 

li a:hover:not(.active) {
    background-color: lightgray;
    color: white;
    border: none;
}
    
ul.meny li:nth-child(n+2){
    border-left: 1px solid black;
}

/* Her følger CSS for små ikoner øverst høyre hjørne */

.pngLinker{
    top: 55px;
    right: 70px;
    width: 45px;
    height: 45px;
}

#facebookLogo{
    right: 220px;
}

#westerdalsLogo{
    right: 120px;
}

#twitterLogo{
    right: 170px;
}

.pngLinker:hover:not(.active) {
    opacity: 0.5;
}

/* FOOTER */
#footer{
    height: 45px;
    border-top: 1px solid black;
    color: black;
    font-family: font130013;
    font-size: 12px;
    width: 100%;
    clear: both;
}

#footer p, img{
    display: inline-block;
    float: left;
    padding: 15px;
}

#wLogoFooter{
    width: 35px;
    height: 35px;
    padding: 15px;
    border: none;
    left: 25%;
}

/* Media Queries */
@media(max-width: 768px){
    #headerContainer,
    #footer p,
    ul.meny,
    .meny li,
    .meny a{
    float:none;
    text-align:center;
    width:100%;
    border: none;
  }

    ul.meny{
        padding: 90px 0 0 0;
        
    }
    
    #topBorder{
        top: 42px;
    }
    
    #alleMenyBarn{
        position: relative;
        top: 55px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    
    #CampusVulkan{
        top: 26px;
    }
    
    #wLogoFooter{
        
    }
    
    #footer p, img{
    padding: 0;
    }
}


/* SUBPAGE 50-LAPPEN */
#Redbox {
    width: 100%;
    height: 250px;
    background-color: #FC6A6D;
    position: relative;
}

p.subText {
    font-family: font71543;
    top: 10%;
    position: relative;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 35px;
    margin: 0;
}

p.mainText {
    font-family: font97579;
    top: 10%;
    position: relative;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 150px;
    margin: 0;
}

#winPrize{
	text-align: center;
    width: 50%;
    margin: auto;
    font-family: font97579;
}

#winPrize h1{
	margin: 20px;
    font-family: font138488;
    font-size: 40px;
}


/* 50-LAPPEN BOXES */
.addChallengeButton {
    background-color: #FC6A6D;
    border: none;
    color: white;
    padding: 10px 15px 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px;
    cursor: pointer;
    border-radius: 100%;
    position: relative;
    left: 50%;
}

#box{
    height: 300px;
    width: 23%;
    background-color: #282828;
    left: 20px;
    position: relative;
    margin-bottom: 20px;
    float: left;
    margin: 5px;
}

#imageBox{
    height: 200px;
    width: 100%;
    background-color: #FC6A6D;
    position: relative;
}

#imageBox a{
    font-size: 40px;
    color: #fff;
}
#submitterText{
    font-size: 25px;
    color: #fff;
}



/* SUBPAGE COMMENTSECTION */
textarea{
    width: 400px;
    height: 80px;
    background-color: #fff;
    resize: none;
    position: relative;
    left: 20px;
}

button{
    position: relative;
    left: 20px;
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    background-color: #282828;
    border: none;
    color: #fff;
    font-family: arial;
    font-weight: 400;
    cursor: pointer;
}

.comment-box{
    width: 384px;
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
    left: 20px;
    border: 1px solid black;
}

.comment-box p{
    font-family: arial;
    font-size: 14px;
    line-height: 16px;
    color: #282828;
    font-weight: 100;   
}


/* Her kommer koden til gratis */

#Greenbox {
    width: 100%;
    height: 250px;
    background-color: rgb(217,244,234);
    position: relative;
    
}

/* Her kommer koden til lonningsdag */

#Cyanbox {
    width: 100%;
    height: 250px;
    background-color: rgb(217,244,234);
    position: relative;
    
}

.grid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 2rem;
}

.containers {
    margin: auto;
    position: relative;
    width: 500px;
    height: 300px;
    background-size: 500px 300px;
    overflow: hidden;
}

#space {
    position: relative;
    width: 80%;
    height: 50px;
    
}

/*Tekster og fonter*/

#Bilder {
    width: 500px;
    height: 300px;
    position: relative;
}

#Overskrift {
    font-size: 40px;
    font-family: font143016;
    text-align: center;
}

#Undertekst{
    font-size: 20px;
    font-family: font143087;
    font-style: italic;
    text-align: center;
}

#Brodtekst {
    font-size: 16px;
    font-family: font142997;
    text-align: center;

}