/*Kodet av Ine Målbakken*/
/*DIN Next LT Pro Light*/
@import url('https://www.fontify.me/wf/5791fea5cf3ff4352ab8e7f3cccc8e23');   

/*DIN Neuzeit Grotesk Bold Cond*/
@import url('https://www.fontify.me/wf/a43ffc0f9675eb7bb6611c0db69d7ae9');

/*Lulo Clean One Bold*/
@import url('https://www.fontify.me/wf/42216a06e8977da4ccec1ff4702d0922');

/*Lucida Console*/
@import url('https://www.fontify.me/wf/d5b9008d3538aedbecc7c3a8e8b5a3a6');

html, body{
        background-color: white;           
        margin: 0;
        }
        
        
    #headerContainer *{
        position: absolute;
        margin: 0;
        }
        
        
    #headerContainer{
        position: relative;
        margin: auto;
        width: 100%;
        background-color: white;
        }
    
    #topBorder{
        height: 40px;
        width: 100%;
        top: 25px;
        background-image: url(../Bilder/wHeaderLiten.jpg);
        position: absolute;
    }

    #CampusVulkan{
        font-family: font84115;
        top: 10px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }


ul.meny {
    padding-top: 70px;
    width: 700px;
    list-style: none;
    background-color: white;
    text-align:center;
    font-family: sans-serif; 
}
.meny li { 
    display: inline-block;
    width: 20%;
    margin: 0;
    padding: 0;
}
.meny a {
    text-align:center;
    padding: 12px 5px 12px 5px;
    margin:0; 
    /*border-right: 1px solid black; */
    display:block;
    text-decoration: none;
    color: black;
}

li a.active {
    background-color: black;
    color: white;
} 

li a:hover:not(.active) {
    background-color: lightgray;
    color: white;
    border: none;
}
    
ul.meny li:nth-child(n+2){
    border-left: 1px solid black;
}

/* Her følger CSS for små ikoner øverst høyre hjørne */

.pngLinker{
    top: 70px;
    right: 70px;
    width: 45px;
    height: 45px;
}

#facebookLogo{
    right: 220px;
}

#westerdalsLogo{
    right: 120px;
}

#twitterLogo{
    right: 170px;
}

.pngLinker:hover:not(.active) {
    opacity: 0.5;
}

/* Alt oppe er meny koden laget av ine, her kommer koden til lonningsdag */

#Redbox {
    width: 100%;
    height: 250px;
    background-color: #FC6A6D;
    position: relative;
    
}

p.subText {
    font-family: font71543;
    top: 10%;
    position: relative;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 35px;
    margin: 0;
}

p.mainText {
    font-family: font97579;
    top: 10%;
    position: relative;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 150px;
    margin: 0;
}

#winPrize{
	text-align: center;
}

#winPrize h4{
	margin-top: 40px;
}


/* BOXES */
#boxes{
	margin-top: 40px;
}

#boxes .box{
    float: left;
	text-align: center;
	width: 177px;
	padding-right: 2px;
	margin: 10px;
	background-color: lightcyan;
}

/* FOOTER */
footer{
	padding: 20px;
    color: #ffffff;
    background: black;
    text-align: center; 
    clear: both;
}