     html, body{
        background-color: white;           
        margin: 0;
        }
        
        /* VELDIG nyttig: her blir alt inni containeren effektert ved bruk av container*. Position: absolute vil gjøre at elementene ikke bryr seg om hverandre, men legger seg bak hverandre fremfor å dytte på hverandre*/
        
    #headerContainer *{
        position: absolute;
        }
        
        /*Containeren er "relative", den blir flyttet utfra hvor den dukker opp på skjermen*/
        
    #headerContainer{
        position: relative;
        margin: auto;
        width: 100%;
        background-color: white;
        }
    
    #topBorder{
        height: 40px;
        width: 100%;
        top: 50px;
        background-image: url(wHeaderLiten.jpg);
        position: absolute;
    }
    
    #headerCampus{
        height: 60px;
        width: 600px;
        top: 30px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }